{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Panel de Administración</h1>
    <a href="{{ url_for('admin_books') }}" class="btn btn-info mb-3">Gestionar Libros</a>
    <a href="{{ url_for('admin_users') }}" class="btn btn-info mb-3">👥 Gestionar Usuarios</a>


    <p>Bienvenido, {{ current_user.username }} (Admin)</p>

    <h3>Lista de Usuarios</h3>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Email</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ 'Sí' if user.is_admin else 'No' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('index') }}" class="btn btn-secondary">Volver al perfil</a>
</div>
{% endblock %}